html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    padding: 0 260px 0 0;
    .ppt {
        position: absolute;
        top: 0;
        right: 0;
        width: 260px;
        height: 100%;
        padding: 10px;
        border: 1px solid #CCC;
        overflow: auto;
    }
    .designer{
        width: 100%;
        height: 100%;
        padding: 60px 0 0;
        .designer-nav {
            margin-top: -60px;
        }
        .app {
           width: 100%;
           height: 100%;
           padding: 10px;
           overflow: auto;
       }
    }
}